.slider img{
 margin: 
}

.clouds{
	display: block;
	position: relative;
	width: 90%;
	padding: 12px 24px;
}

.runner{
	display: block;
	width: 90%; 
	position: absolute;
	top: 0.5%; 
	left: 1%;
 	padding: 12px 24px;
}


.intro__content{
	
}

.intro__head{
	font-family: Montserrat;
	font-weight: 700;
	font-size: 48px;
	width: cover;
	margin: 18px;

}

.intro__head:hover .intro__head-underline{
	border-bottom: 5px solid #42f2cb;
	text-shadow:0 2.5px 4px rgba(0,0,0,0.5);

	transition: border-bottom 1s step-start;
	opacity: 2s;
}

.intro__tag{
	font-family: Montserrat;
	font-weight: 600;
	font-size: 24px;
	margin: 18px;
}

.intro__para{
	font-family: Montserrat;
	font-weight: 400;
	font-size: 16px;
	margin: 18px;
}

.intro__button{
	font-size: 14px;
	font-family: Montserrat;
	font-weight: 600;
	background-color: #1b1b1b;
	color: #fff;
	margin: 18px;
	padding: 12px 24px;
	border-radius: 10px;
}

.intro__button:hover{
	background-color: white;
	color: black;

}

/*media queries*/

@media (max-width: 992px){
  .intro__head{
   	font-size: 36px; 
   }

   .intro__tag{
   	font-size: 18px; 
   }

   .intro__para{
   	font-size: 12px; 
   }

   .intro__button{
   	font-size: 8px;   
   }
}

@media (max-width: 768px){
  .intro__head{
   	font-size: 24px; 
   }

   .intro__tag{
   	font-size: 14px; 
   }

   .intro__para{
   	font-size: 10px; 
   }

   .intro__button{
   	font-size: 8px;   
   }
}